<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBxxlhMaysFPfN6wq2ahLV5LH2O5uMhjkM</string>
	<key>GCM_SENDER_ID</key>
	<string>758497387328</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.amrita.roomie2</string>
	<key>PROJECT_ID</key>
	<string>roomie2-408f8</string>
	<key>STORAGE_BUCKET</key>
	<string>roomie2-408f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:758497387328:ios:1697997fad8b21c5c050a5</string>
</dict>
</plist>